Matrix==1.6-5
data.table
devtools
dplyr
gghighlight
ggiraph
geomtextpath
ggplot2
ggraph
ggrepel
ggridges
ggstatsplot
ggupset
hexbin
MASS
patchwork
plotly
scales
skimr
stringr
tidyr
UpSetR
bioc+ComplexHeatmap