MatrixEQTL
git+https://github.com/cvarrichio/Matrix.utils
optparse
pheatmap
cowplot
statmod
futile.logger
snow
BH
iterators
gplots
corpcor
RhpcBLASctl
remaCor
fANCOVA
aod
Rdpack
graphics
stats
matrixStats
methods
stats4
dbplyr
RSQLite
DBI
filelock
BiocFileCache
bioc+limma
bioc+variancePartition
bioc+BiocParallel
bioc+EnhancedVolcano
bioc+biomaRt
bioc+edgeR
bioc+dreamlet
bioc+SingleCellExperiment
bioc+SummarizedExperiment
bioc+MatrixGenerics
bioc+GenomicRanges
bioc+BiocGenerics
bioc+S4Vectors
bioc+IRanges
bioc+GenomeInfoDb
bioc+Biobase
bioc+BiocManager