optparse
circlize
GetoptLong
clue
GlobalOptions
png
matrixStats
foreach
doParallel
statmod
locfit
DBI
RSQLite
xtable
XML
snow
futile.logger
BH
fastmatch
git+ctlab/fgsea
bioc+AnnotationDbi
bioc+ComplexHeatmap
bioc+edgeR
bioc+sva
bioc+Biobase
scITD