ggplot2>=3.5.2
ggpubr
hdf5r
anndata
harmony
bioc+motifmatchr
bioc+chromVAR
bioc+DESeq2
lme4
lmerTest
forcats
bioc+Rsamtools
bioc+EnsDb.Hsapiens.v86
bioc+biovizBase
git+bnprks/BPCells/r
Seurat=5.0.1
Signac=1.12.0
