rlang>=1.1.7
lifecycle>=1.0.5
vctrs>=0.7.1
V8
tibble
gridExtra
purrr
survival
survminer
tmbstan
hmmTMB
msm
TMB
bit64
lubridate
mgcv
future
furrr
ddalpha
reshape2
igraph
cluster
future.apply
fmsb
gtsummary
rstan
ggalluvial
